# Ignore Pharo image and changes files
*.image
*.changes
*.sources

# Ignore Iceberg and local folders if present
pharo/.iceberg/
pharo/local/
pharo/*.log

# Ignore common build folders
**/__pycache__/
**/build/
**/dist/
**/.stack-work/
**/target/
**/deps/
# Pharo
pharo-local/

# Rust
target/
**/*.rs.bk

# Elixir
/_build/
deps/
erl_crash.dump

# Haskell
dist/
*.hi
*.o
*.dyn_hi
*.dyn_o
*.prof
*.aux
*.hp
*.eventlog
